@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
  font-family: 'Indie Flower', cursive;
  /* background: rgb(202, 223, 255); */
}

.tableIndex {
  font-size: 15px;
  /* font-weight: 700; */
}
.tablePadding-title {
  width: 120px;
  font-size: 22px;
}
.tablePadding {
  width: 120px;
}

.header {
  background: rgb(48, 62, 182);
  color: white;
  line-height: 40px;
}
